<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.banchan.notebook01">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="メモ帳"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter
                android:label="メモ帳"
                >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActUpdate"
            android:label="" />

        <provider
            android:authorities="com.example.banchan.notebook01.NoteBook"
            android:name="com.example.banchan.notebook01.NoteContentProvider"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="4030500" />
    </application>
</manifest>
